.clock{
    text-align: center;
    padding-top: 200px;
    line-height: 5px;
    line-height: 10px;
}
h1{
    font-size: 55px;
   
}
p{
    font-size: 20px;
    margin: 0px;
    color: gray;
   
}
.format {
    width: 21%;
    display: flex;
    justify-content: space-around;
    padding-left: 540px;
  
    
}
